
    <div class="download mb-1">
      <p class="mb-1 d-md-block d-none">Download</p>
      <span class="px-md-3 py-1 text-danger">
          <i class="fa fa-arrow-down" ></i> <span class="d-md-none d-inline-block pl-2 p-md-0">{{downloadSpeed}}</span>
      </span>
      <span class="px-3 py-1 d-md-inline-block d-none">{{downloadSpeed}}</span>

    </div>

    <div class="upload d-md-block d-none">
        <p class="mb-1">Upload</p>
        <span class="border px-3 py-1 text-success">
            <i class="fa fa-arrow-up" ></i>
        </span>
        <span class="border px-3 py-1 uploadvalue">{{uploadSpeed}}</span>
      </div>
